<br>
<div class="container-fluid ">
    <div class="col-md-1">  <h4><a href="#/spacetree" class="btn btn-primary"> Back</a></h4></div>
    <div class="col-md-11">   <h4 class="text-center"> <b>Efficiency Profile of <span class="font_blue">{{userName}}</span> for {{STR_DATE}} to {{END_DATE}}</b></h4></div>
</div>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary height">
                <div class="panel-heading text-center"><b>DEFECTS</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="font_blue">
                            <th>Total Number</th>
                            <th>Task</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="informationDeffects in getInformation.DEFECTS">
                            <td>{{informationDeffects.DEFECT}}</td>
                            <td>{{informationDeffects.D_DESCRIPTION}}</td>
                        </tr>
                        <tr>
                            <td>{{msg}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary height">
                <div class="panel-heading text-center"><b>ATTENDANCE</b></div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                        <tr class="font_blue">
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Working Hours</th>
                            <th>Location</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="informationAttendance in getInformation.ATTENDANCE">
                            <td>{{informationAttendance.ATT_STR_DATE}}</td>
                            <td>{{informationAttendance.ATT_END_DATE}}</td>
                            <td>{{informationAttendance.ATT_WORKING}}</td>
                            <td>{{informationAttendance.BEACON_DESCRIPTION}}</td>
                        </tr>
                        <tr>
                            <td>{{msg}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary height">
                <div class="panel-heading text-center"><b>
                    TECHNICAL ACTIVITY</b></div>
                <div class="panel-body">
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr>
                            <h5> Changes by User ECC0458</h5>
                        </tr>
                        <tr class="font_blue">
                            <th>Date Change:</th>
                            <th>Object</th>
                            <th>Object Name</th>
                            <th colspan="5" class="text-center">Change Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="informationSap_Activity_Log in getInformation.SAP_ACTIVITY_LOG">
                            <td>{{informationSap_Activity_Log.SAP_STR_DATE}}</td>
                            <td>{{informationSap_Activity_Log.SAP_OBJECT}}</td>
                            <td>{{informationSap_Activity_Log.SAP_OBJECT_NAME}}</td>
                            <td></td>
                            <td><a href="https://github.com/AvraGitHub/SAP_V4/commit/{{informationSap_Activity_Log.COMMIT_ID}}">{{informationSap_Activity_Log.SAP_OBJECT_DESC}}</a></td>
                        </tr>
                        <tr>
                            <td>{{msg}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-primary height">
                <div class="panel-heading text-center"><b>
                    WORKING HOURS SUMMARY</b></div>
                <div class="panel-body ">
                    <table class="table table-striped table-responsive">
                        <thead>
                        <tr class="font_blue">
                            <th>Datefrom</th>
                            <th>Dateto</th>
                            
                            <th>Confirmed Time</th>
                            <th>Detected Time</th>
                            <th>Time Difference</th>
                            <th>Reason for Difference</th>
                            <!--<th>Action</th>-->
                            <th>Reaction Time</th>
                            <!--<th>Percentage Difference</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="userConfrom in getUserConfrom.USER_INFROMATION">
                            <td>{{userConfrom.datefrom}}</td>
                            <td>{{userConfrom.dateto}}</td>
                            <td>{{userConfrom.UC_TIME_DELTA}}</td>
                            <td>{{userConfrom.UC_ATT_WORKING}}</td>
                            <td>{{userConfrom.UC_TIME_DIFF}}</td>
                            <!--<td>{{userConfrom.UC_DESCRIPTION}}</td>-->
                            <td>{{userConfrom.UC_ACTION}}</td>
                            <td>{{userConfrom.UC_REACTION_TIME}}</td>
                            <!--<td>{{userConfrom.UC_INCRESE}}</td>-->
                        </tr>
                        <tr>
                            <td>{{msg}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-primary">
                <div class="panel-heading text-center"><b>
                    Message</b></div>
                <div class="panel-body ">
                  <div class="form-group">
                        <textarea class="form-control" rows="5" name="message" placeholder="Message" ng-model="message"></textarea>
			<br>
			<select ng-model="select">
			  <option value=""></option>
                          <option value="Time">Time</option>
                          <option value="Remote Work">Remote Work</option>
                        </select>
                      <!--<select ng-model="select" ng-options="data for data in selectTime">
                        </select>-->
                        <br>
                        <input type="button" class="btn btn-primary pull-right"  value="Send" ng-click="gcmFunction()"/>
                  </div>
                </div>
            </div>
        </div>
    </div>

</div>
